<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add whatsapp bot</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/checklist.css">
</head>
<body>
    
    <div class="Container">
        <h2>BOT-LIC🤖</h2>
        <p><strong>Ative/Desative comandos do bot:</strong></p>
        <div id="checklist">
            <input type="checkbox" id="01" name="1" value="1" checked>
            <label for="01">!ALL</label>
            <input type="checkbox" id="02" name="2" value="2">
            <label for="02">!STICKER</label>
            <input type="checkbox" id="03" name="3" value="3">
            <label for="03">!TEAM</label>
            <input type="checkbox" id="04" name="4" value="4">
            <label for="04">!LIVE</label>
        </div>
        <div class="Form">
            <form>
                <input type="text" id="fname" name="fname" placeholder="Link do grupo"><br> 
            </form>
        </div>
    
        <div class="Button">
            <button>ADICIONAR O LICO</button>
        </div>
    </div>
</body>
</html>