<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add whatsapp bot</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body>
    <script src="/public/scripts/index.js"></script>
    <div class="elementBackground">        
        <p class="title">BOT-LIC🤖</p>
        <p class="textBackground">Selecione os comandos para o seu grupo</p>
        <div class="backgroundBoxes" id="scroll-geral">
            <div class="bacgroundBox">
                <div class="padding">
                    <div class="boxTitle">
                        <p class="titleBox">Geral</p>
                    </div>
                    <div class="boxContent" id="show">                        
                        <div class="boxItem" onclick="checked(gHelp)" >  
                            <div class="barItem checked" id="gHelp"></div>                          
                            <div class="contentItem">
                                <p class="titleItem">!help</p>
                                <p class="textItem">informações do bot</p>
                            </div>
                        </div>
                        <div class="boxItem" onclick="checked(gAll)">
                            <div class="barItem" id="gAll"></div>
                            <div class="contentItem">
                                <p class="titleItem">!all</p>
                                <p class="textItem">marca todos do grupo</p>
                            </div>
                        </div>
                        <div class="boxItem" onclick="checked(gSticker)">
                            <div class="barItem" id="gSticker"></div>

                            <div class="contentItem">
                                <p class="titleItem">!sticker</p>
                                <p class="textItem">gera uma figurinha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bacgroundBox">
                <div class="padding">
                    <div class="boxTitle">
                        <p class="titleBox">Counter Strike</p>
                    </div>
                    <div class="boxContent">
                        <div class="boxItem" onclick="checked(csLive)">
                            <div class="barItem" id="csLive"></div>
                            <div class="contentItem">
                                <p class="titleItem">!live</p>
                                <p class="textItem">partidas ao vivo</p>
                            </div>
                        </div>
                        <div class="boxItem" onclick="checked(csTeam)">
                            <div class="barItem" id="csTeam"></div>

                            <div class="contentItem">
                                <p class="titleItem">!team</p>
                                <p class="textItem">última partida do time</p>
                            </div>
                        </div>                               
                    </div>  
                </div>
            </div>
            <div class="bacgroundBox">
                <div class="padding">
                    <div class="boxTitle">
                        <p class="titleBox">Adm</p>
                    </div>
                    <div class="boxContent">
                        <div class="boxItem" onclick="checked(showAdms)">
                            <div class="barItem" id="showAdms"></div>
                            <div class="contentItem">
                                <p class="titleItem">!adms</p>
                                <p class="textItem">Mostra todos os adms do grupo</p>
                            </div>
                        </div>
                        <div class="boxItem" onclick="checked(promote)">
                            <div class="barItem" id="promote"></div>
                            <div class="contentItem">
                                <p class="titleItem">!promote @user</p>
                                <p class="textItem">Promove um membro do grupo</p>
                            </div>
                        </div>
                        <div class="boxItem" onclick="checked(denote)">
                            <div class="barItem" id="denote"></div>
                            <div class="contentItem">
                                <p class="titleItem">!denote @user</p>
                                <p class="textItem">Remove o adm de um membro do grupo</p>
                            </div>
                        </div>                               
                    </div>  
                </div>
            </div>
        </div>
        <form method="POST" action="link" name="linkForm" onsubmit="return validate(this);" >
            <p class="textBackground">Através do link do seu grupo no WhatsApp, adicione o LICO:</p>
            <p class="add">Aguarde alguns minutos, logo o Lico estará em seu grupo...</p>
            <input type="text" id="linkWpp" class="inputLink" name="linkWpp" placeholder="Digite o link do grupo">
            <button type="submit" id="submitButton" class="buttonAdicionar">Adicionar</button>
        </form>
    </div>
</body>
</html>