#checklist {
  background: #fff;
  font-size: 13px;
  max-width: 640px;
  height: 140px;
  border-radius: 10px;
  display: inline;
  user-select: none;
  list-style: none;
  padding: 20px;
  position: relative;
  top: 200px;
}

#checklist label {
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  transition: all .2s;
  padding: 8px 12px;
  cursor: pointer;
}

#checklist label::before {
  display: inline-block;
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  
}

#checklist input[type="checkbox"]:checked + label {
  border: 2px solid #048243;
  background-color: #32BF84;
  color: #fff;
  transition: all .2s;
}

#checklist input[type="checkbox"] {
  display: absolute;
  position: absolute;
  opacity: 0;
}

