body {
    background-color: #e8ebf3;
    height: 100vh;
}

.Container {
    font-family: 'Roboto Mono', monospace;
    color: #414856;
    /* border: 1px solid #8F8CE7; */
    border-radius: 6px;
    background-color: #fff;
    width: 60%;
    position: relative;
    bottom: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 10% 10% 20%;
    padding-bottom: 27%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Container h2,
.Container h4 {
    position: relative;
    top: 50px;
}

.Form form input {
    background-color: #E3E1E2;
    width: 27rem;
    height: 2.8rem;
    outline: none;
    position: relative;
    top: 210px;
    border: 0;
    text-align: center;
    border-bottom: 1px solid #8F8CE7;
    border-radius: 3rem;

}

.Button button {
    background-color: #8F8CE7;
    width: 27rem;
    height: 3rem;
    position: relative;
    top: 215px;
    /* left: 447px; */
    border-style: none;
    border-radius: 3rem;
}

.Button button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

